@import "../../styles/base.css";

.paragraph {
  margin: 2.25em 0;
}

.spacious {
  margin: 10em 0 14em 0;
}

.about {
  color: white;
  margin-bottom: 3em;
  letter-spacing: 2px;
  font-size: 1.25em;
}

.summary {
  font-weight: 500;
  line-height: 2.5em;
}

.centeredImage {
  max-height: 600px;
  display: block;
  margin: 0px auto 1.45rem auto;
}

.centeredText {
  text-align: center;
}

.centeredDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.divider {
  height: 2px;
  display: block;
  float: left;
  width: 100%;
  background-color: var(--Gray03);
  margin: 0 0 2em 0;
}

.video {
  left: 25%;
  margin-left: -25vw;
  margin-right: -50vw;
  max-width: 75vw;
  position: relative;
  right: 50%;
  width: 75vw;
  object-fit: cover;
  margin-bottom: 2em;
}

.subheader {
  margin-top: 1em;
  margin-bottom: 0.85em;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--Gray02);
}

.hero {
  background-color: #ffdcdc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 4.5em;
}

.title {
  font-size: 3.25em;
}

.description {
  font-weight: 400;
  font-size: 1.45em;
}

.textContainer {
}

.heroImage {
  max-width: 800px;
  margin-top: auto;
}
