@import "../../styles/base.css";

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--Gray03);
  margin: 6em auto 2em auto;
}

.linker {
  max-width: 500px;
  flex: 1 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.card {
  height: 100%;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  background-color: white;
  color: var(--Gray01);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 2px 6px 14px 2px rgba(0, 0, 0, 0.58);
}

.card:hover {
  background-color: #fafafa;
}

.title {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.5px;
  margin-bottom: 0.5em;
}
.lock {
  height: 24px;
  width: 24px;
  float: left;
  margin-left: 0;
  margin-right: 8px;
  margin-top: 4px;
}
.lock path {
  fill: var(--Gray04);
}

.header {
}

.subtitle {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 1em;
}

.description {
  font-weight: 400;
}

.time {
  font-size: 0.8em;
  font-weight: 600;
  color: var(--Gray02);
}

.text {
  margin: 0.5em 1em;
}
