@import "../../styles/base.css";

.screen {
    width: 100%;
    height: 100vh;
    background-color: var(--PrimaryColor);
}

.topnav {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  height: 60px;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: white;
  text-align: center;
  padding: 21px 16px;
  text-decoration: none;
  font-weight: 600;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #c3c3c3;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}