@import "../../styles/base.css";

button {
    font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
}

.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    border: none;
}

.primary{
    color: #FFFFFF;
    background-color: var(--PrimaryColor); 
}
.primary:hover{
    background-color: var(--SecondaryColor);
}

.ghost {
    border: 0.1em solid #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;    
}

.ghost:hover {
    color: var(--PrimaryColor);
    background-color: white;
}

@media all and (max-width:30em){
    .button{
        display: block;
        margin: 0.4em auto;
    }
}