@import "../../styles/base.css";

button {
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
}

.button {
  display: inline-block;
  padding: 0.75em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  transition: all 0.2s;
  border: none;
}

.primary {
  color: #ffffff;
  background-color: var(--PrimaryColor);
}
.primary:hover {
  background-color: #006cbe;
}

.ghost {
  border: 0.1em solid #ffffff;
  color: #ffffff;
  background-color: transparent;
}

.ghost:hover {
  color: var(--PrimaryColor);
  background-color: white;
}

.outline {
  border: 2px solid var(--PrimaryColor);
  color: var(--PrimaryColor);
  background-color: white;
}

.outline:hover {
  background-color: #f5f6f7;
}

@media all and (max-width: 30em) {
  .button {
    display: block;
    margin: 0.4em auto;
  }
}
