@import "../../styles/base.css";

.hero {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.kenzo {
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-size: 2.75em;
}

.designer {
  font-size: 1.75em;
  margin-bottom: 2em;
}

.video {
  position: absolute;
  width: 100%;
  height: 110%;
  opacity: 50%;
}

.intuit {
  color: #1961e5;
}

.noBottom {
  margin: 0;
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid #fafafa;
}

.intuitds {
  border-radius: 4px;
}

.featured {
  margin: 2em auto 0em auto;
  color: var(--PrimaryColor);
  font-weight: 800;
  text-align: center;
}

.featurehighlight {
  height: 4px;
  width: 340px;
  background-color: var(--Gray03);
  margin: 12px auto 2em auto;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--Gray03);
  margin: 6em auto 2em auto;
}

.flexGrid {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

@media (max-width: 1000px) {
  .flexGrid {
    display: block;
  }
}
