@import "../../styles/base.css";

.video {
  left: 25%;
  margin-left: -25vw;
  margin-right: -50vw;
  max-width: 75vw;
  position: relative;
  right: 50%;
  width: 75vw;
  object-fit: cover;
}

.subheader {
  font-weight: 600;
  color: var(--Gray04);
  margin-bottom: 0.5em;
}
