@import "../../styles/base.css";

.header {
    background-color: var(--PrimaryColor);
    margin-bottom: 1.35rem;
    height: 64px;
}
.headerContainer {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 1.0875rem;
}

.links {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

/* Style the links inside the navigation bar */
.links a {
  color: white;
  text-align: center;
  padding: 21px 16px;
  text-decoration: none;
  font-weight: 600;
}

/* Change the color of links on hover */
.links a:hover {
  color: var(--Gray02);
}