@import "../../styles/base.css";

.number {
  border-radius: 100%;
  background-color: var(--Gray01);
  width: 64px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.value {
  color: white;
  font-weight: 700;
  font-size: 24px;
}
