@import "../../styles/base.css";

.contact {
  font-weight: 600;
  margin-bottom: 1.25em;
  text-align: center;
}

.description {
  margin-top: 0;
  text-align: center;
  line-height: 1.3em;
}

.row {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
}

.link {
  font-size: 1em;
  letter-spacing: 2px;
}

.footerBackground {
  background-color: white;
  color: var(--Gray01);
  padding: 2em 0;
}

.footer a {
  color: var(--PrimaryColor);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
