@import "../../styles/base.css";

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.input {
  width: 300px;
}

.unlock {
  height: 20px;
  margin-right: 8px;
}

.unlock path {
  fill: white;
}
